<html>
<head>
  {{ content_for_header }}
  <title>{{ shop.name }} - {{ page_title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>untitled</title>
  {{ 'style.css' | asset_url | stylesheet_tag }}
</head>

<body>
  {% section 'header' %}
  <div id="wrapper">
    <div class="content">
      {{ content_for_layout }}
    </div><!-- .content -->
  </div><!-- #wrapper -->
  
  <script src="{{ 'bootstrap.bundle.min.js' | asset_url }}" defer></script>
  <script src="{{ '57ca08456b.js' | asset_url }} crossorigin="anonymous" defer></script>
</body>
</html>